@use '../../../styles/helpers/helpers' as *;

.btnRe {
  display: inline-block;
  // width: 10rem;
  width: max-content;
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
  font-weight: weight('mediumWeight');
  font-size: size('smallSize');
  background: color('blueColor');
  color: color('whiteColor');
  transition: all 0.2s ease;
  @include boxShadowBlack(0, 0.3rem, 0.2);

  &:hover {
    filter: brightness(115%);
  }

  &:disabled{
    opacity: 0.6;
  }
}
