@use '../../../../../styles/helpers/helpers' as *;

// all elements selected under the .shareAuthentic defines different order of post elements if post is shared--> you can see more information in jsx code !!!
.shareAuthentic {
  @include flexBox(column);
  gap: 1rem;
  // border: 1px solid color('darkGreyColor');
  margin: 0.5rem 1.5rem 1rem 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.3rem;
  background: color(whiteShaderColor);

  .media {
    order: -1;
    margin: 0;
  }

  .postAuthenticIdentifier {
    font-size: size(smallerSize);

    & figure[data-img] {
      width: 3.5rem;
      height: 3.5rem;
    }

    & span[data-time-ago] {
      font-size: size('smallestSize');
      margin-top: -0.25rem;
    }
  }

  .description {
    margin-top: -0.5rem;
    font-size: size('smallerSize');
  }

  [data-deleted-post] {
    width: 100%;

    & [data-opt-btn] {
      display: none;
    }
  }
}

.postBody {
  .postAuthenticIdentifier {
    & figure[data-img] {
      width: 4rem;
      height: 4rem;
    }

    & span[data-time-ago] {
      font-size: size('smallestSize');
    }
  }
}

.shareAuthentic .referencedBlogPost,
.postBody .referencedBlogPost {
  [data-blog-post-identifier] {
    gap: 0.75rem;
  }

  [data-title] {
    font-size: size(regullarSize);
  }

  & > [data-img] {
    aspect-ratio: 2/1;
  }

  [data-categories-list] {
    justify-content: center;
    font-size: size(smallerSize);
  }

  [data-user-interacion] {
    font-size: size('smallerSize');

    & svg {
      font-size: size(regullarSize);
    }
  }

  [data-article-text] {
    font-size: size(smallerSize);
  }
}
