@use '../../../../../styles/helpers/helpers' as *;

.post {
  position: relative;
  width: 60rem;
  margin: 0 auto;
  @include flexBox(column);
  padding: 1rem;
  border-radius: 0.5rem;
  background: color('whiteColor');
  @include boxShadowBlack(0, 1rem, 0.2);

  @include respond(tab-portrate) {
    width: 100%;
  }
}
