@use '../../../../../styles/helpers/helpers' as *;

.sharedPostHeaderIdentifier {
  & figure[data-img] {
    width: 4rem;
    height: 4rem;
  }

  & span[data-time-ago] {
    font-size: size('smallestSize');
  }
}
