@use '../../../styles/helpers/helpers' as *;

.btn {
  font-size: size('smallerSize');
  text-transform: capitalize;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  @include flexBox;
  @include flexProperty(flex-start, center);
  gap: 0.5rem;
  @include boxShadowBlack(0, 0.5rem, 0.1);
  outline: none;

  & > svg {
    font-size: size('regullarSize');
  }

  & span {
    align-self: flex-end;
  }

  &.isFriendBtn,
  &.sendBtn,
  &.deleteBtn,
  &.cancelBtn {
    background: color('whiteShaderColor');
    color: color('darkGreyColor');
    transition: all 0.2s;

    &:hover {
      filter: brightness(90%);
    }
  }

  &.sendMessageBtn,
  &.confirmBtn {
    background: color('blueColor');
    color: color('whiteColor');
    transition: all 0.2s;

    &:hover {
      filter: brightness(110%);
    }
  }
}

.requestBtnBox {
  position: relative;

  .requestBtnModal {
    position: absolute;
    bottom: -4rem;
    width: max-content;
    background: color('whiteColor');
    @include boxShadowBlack(0, 1rem, 0.2);
    border-radius: 0.5rem;
    animation: moveTop 0.2s;
  }

  .deleteFromFriendsBtn {
    transition: all 0.2s;
    box-shadow: none;
  }

  .deleteFromFriendsBtn:hover {
    color: color(redColor);
  }
}
