@use "../../../styles/helpers/components/notifications" as *;
@use "../../../styles/helpers/abstract/mixins" as *;

.notifyBody {
  @include flexBox;
  @include flexProperty(flex-start, center);
  cursor: pointer;
  @include notificationItem;

  .notifyFig {
    align-self: flex-start;
    overflow: hidden;

    & img {
      @include fitImage;
    }
  }

  .userName {
    text-transform: capitalize;
  }

  .notifyTime {
    display: block;
  }

  .notifyPopUpBox {
    position: relative;
    margin-left: auto;
  }

  .notifyOptionsList {
    position: absolute;
    @include flexBox(column);
    @include flexProperty(center, flex-start);
    @include notificationOptionsList;

    & button {
      @include flexBox;
      @include flexProperty(flex-start, center);
      width: 100%;
    }
  }
}
