@use "../../../styles/helpers/abstract/functions" as *;
@use "../../../styles/helpers/variables/variables" as *;

.about {
  max-width: $container-width;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  background: color("whiteColor");
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.detailedInfo {
  max-width: $container-width;
  margin: 0 auto;
  padding: 2rem;
  background: color("whiteColor");
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
