@use '../../../../styles/helpers/components/navigation' as *;

.navAvatarBox {
  position: relative;
  cursor: pointer;

  .navAvatarModal {
    position: absolute;
    width: $nav-avatar-modal-w;
    right: $nav-avatar-modal-right;
    top: $nav-avatar-modal-top;
    padding: $nav-avatar-modal-pad;
    color: $nav-avatar-modal-color;
    background: $nav-avatar-modal-bg;
    box-shadow: $nav-avatar-modal-shadow;
    animation: moveTop 0.2s;
    text-transform: capitalize;
    border-bottom-left-radius: $nav-avatar-modal-radius;
  }
}
