@use '../../../../styles/helpers/helpers' as *;

.mainNavActions {
  flex: 3;
  @include flexBox;
  @include flexProperty(flex-end, center);
  gap: 2rem;
  padding: 1rem;

  @include respond(phone) {
    gap: 1.5rem;
  }

  & svg {
    font-size: size('bigSize');

    @include respond(phone-small) {
      font-size: size('regullarSize');
    }
  }

  &BurgerBtn {
    display: none;

    @include respond(tab-portrate) {
      display: flex;
    }
  }
}
