@use "../../../../styles/helpers/components/navigation" as *;
@use "../../../../styles/helpers/abstract/media" as *;

.mainNavActions {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include actions;

  &BurgerBtn {
    display: none;

    @include respond(tab-portrate) {
      display: flex;
    }
  }

  .actionBtn {
    position: relative;
  }

  .actionBadge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
