@use "../../../../styles/helpers/components/navigation" as *;

.navAvatarBox {
  position: relative;
  cursor: pointer;

  .navAvatarModal {
    position: absolute;
    text-transform: capitalize;
    @include avatarModal;
  }
}
