@use "../../../../styles/helpers/components/navigation" as *;

.mainNav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0rem;
  z-index: 9999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include nav;

  &Logo {
    flex: 1;
  }
}
