@use '../../../../styles/helpers/abstract/functions' as *;
@use '../../../../styles/helpers/abstract/media' as *;
@use "../../../../styles/helpers/components/navigation" as *;

.mainNav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0rem;
  z-index: 9999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  height: $nav-height;
  background: $nav-bg;
  color: $nav-txt-color;
  box-shadow: $nav-shadow;
  padding: 0 1rem;

  &Logo {
    padding: 1rem;
    flex: 1;
    font-size: size("headingSmallSize");
    font-weight: weight("boldWeight");
  }

  @include respond(phone-small) {
    height: 4.5rem;

    &Logo {
      font-size: size("headingSecondarySize");
    }
  }
}
