@use '../../../../styles/helpers/helpers' as *;

.mainNavSearch {
  position: relative;
  padding: 0 1rem;
  @include flexBox;
  @include flexProperty(center);

  &Bar {
    @include respond(phone-small) {
      height: 2rem;
    }
  }
}
