@use "../../../../styles/helpers/abstract/components" as *;
@use "../../../../styles/helpers/components/navigation" as *;

.searchWindow {
  position: absolute;
  text-transform: capitalize;
  @include searchWindow;

  .resultsList {
    position: absolute;
    display: flex;
    overflow: auto;
    flex-direction: column;
    @include scrollBar("&");


    &Item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
