@use '../../../styles/helpers/helpers' as *;

.deletedPost {
  position: relative;
  width: 60rem;
  @include flexBox(column);
  @include flexProperty(center, center);
  gap: 1rem;
  margin: 0 auto;
  padding: 4rem;
  font-size: size(largeSize);
  font-weight: weight(boldWeight);
  text-transform: capitalize;
  text-align: center;
  border-radius: 0.5rem;
  background: color(whiteColor);
  @include boxShadowBlack(0, 1rem, 0.3);

  & > svg {
    font-size: size(headingSecondarySmallSize);
    color: color(redColor);
  }

  @include respond(tab-portrate) {
    width: 100%;
  }
}
