@use "../../../styles/helpers/components/layouts/showMoreInlineBTN" as *;

.showMoreBtn {
  display: inline;
  font-size: inherit;
  @include showMoreBtn;

  &.showMoreBtnTransparent {
    background: none;
  }
}
