@use "../../abstract/functions" as *;
@use "../../variables/variables" as *;

$blog-post-review-gap: 1rem;

$blog-post-title-fs: $txt-big;
$blog-post-title-fw: weight("boldWeight");

$blog-post-publisher-fs: $txt-thumbnail;
$blog-post-publisher-fw: weight("mediumWeight");
$blog-post-publisher-gap: 0.25rem;
$blog-post-publisher-fig-dimention: $identifier-fig-sm;

$blog-post-categories-fs: $txt-thumbnail;
$blog-post-categories-gap: 0.5rem;
$blog-post-categories-pad: 0.15rem 0.5rem;
$blog-post-categories-radius: 1rem;
$blog-post-categories-bg: color("blueTintColor");
