@use "../../abstract/functions" as *;
@use "../../variables/variables" as *;

@mixin userIdentifier {
  color: $txt-dark;
  font-weight: weight("boldWeight");
  font-size: $txt-base-sm;

  .identifierDetails,
  div[data-tags] {
    padding-top: 0.25rem;
  }

  div[data-tags] {
    margin-left: -0.5rem;
  }
}
