@use '../../../../../styles/helpers/helpers' as *;

.aboutNav {

  &List {
    @include flexBox;
    @include flexProperty(space-evenly, center);
    text-transform: capitalize;
  }

  &ListItem {
    color: color('blackColor');
    font-weight: weight('boldWeight');
    font-size: size('regullarSize');
    cursor: pointer;
    transition: color 0.2s;

    &Active {
      color: color('blueColor');
      border-bottom: 2px solid color('blueColor');
    }
  }
}
