@use '../../../../../styles/helpers/abstract/mixins' as *;
@use '../../../../../styles/helpers/abstract/functions' as *;

.addInfoBtn {
  grid-row: 1;
  grid-column: 1/-1;
  @include flexBox;
  @include flexProperty(center, center);
  gap: 0.5rem;
  padding: 1rem;
  font-weight: weight('boldWeight');
  border-radius: 0.5rem;
  background: color('blueTintColor');
  color: color('blueColor');
  text-transform: capitalize;
  transition: all 0.25s ease;

  & svg {
    font-size: size('bigSize');
  }

  & span {
    display: inline-block;
    line-height: 1;
    margin-top: 0.25rem;
  }

  &:hover {
    background: color('blueColor');
    color: color('whiteColor');
  }

  &.activeAddBtn {
    background: color('blueColor');
    color: color('whiteColor');
  }
}
