.infoFragment {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: repeat(2, min-content);
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 1rem;
  line-height: 1.3;

  &:hover .optBtnUpdate {
    opacity: 1;
  }

  .optBtnUpdate {
    opacity: 0;
    transition: all 0.2s ease-out;
  }
}
