@use '../../../../../styles/helpers/abstract/mixins' as *;
@use '../../../../../styles/helpers/abstract/functions' as *;

.userInfo {
  position: relative;
  justify-self: start;
  width: 100%;
  @include flexBox(column);
  gap: 2rem;
  padding: 2rem;
  font-size: size('smallSize');
}
