@use "../variables/variables" as *;
@use "../abstract/media" as *;

@mixin feed {
  padding-top: 4rem;
  gap: 1rem;

  .feedInfiniteScroll {
    gap: 4rem;
    padding-top: 3rem;
  }

  @include respond(tab-portrate) {
    .feedPost,
    .feedCreatePost {
      width: $post-w-def;
    }
  }

  @include respond(phone) {
    padding: 3rem 2rem 0 2rem;
    gap: 4rem;

    .feedInfiniteScroll {
      gap: 3rem;
    }

    .feedPost,
    .feedCreatePost {
      width: 100%;
    }
  }
}
