@use "../abstract/functions" as *;
@use "../abstract/media" as *;
@use "../variables/variables" as *;

@mixin nav {
  height: 6rem;
  padding: 0 1rem;
  gap: 1rem;
  background: color("blueColor");
  color: $txt-light;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);

  &Logo {
    padding: 1rem;
    font-size: size("headingSmallSize");
    font-weight: weight("boldWeight");
  }

  @include respond(phone-small) {
    height: 4.5rem;

    &Logo {
      font-size: size("headingSecondarySize");
    }
  }
}

@mixin navList {
  gap: 1rem;

  @include respond(tab-portrate) {
    flex-direction: column;
    width: 20rem;
    position: absolute;
    top: 6rem;
    right: 0;
    padding: 1rem;
    background: $bg-light;
    color: $txt-dark;
    visibility: hidden;
  }
}

@mixin searchBar {
  padding: 0 1rem;

  &Bar {
    @include respond(phone-small) {
      height: 2rem;
    }
  }
}

@mixin searchWindow {
  z-index: -1;
  top: -4rem;
  width: 100%;
  height: 30rem;
  background: $bg-light;
  color: $txt-dark;
  box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.3);

  $top: 8rem;

  .resultsList {
    z-index: 2;
    top: $top;
    width: 100%;
    max-height: calc(100% - $top);
    gap: 0.8rem;
    padding: 0 1rem 1rem 1rem;

    &Item {
      gap: 1rem;
    }
  }
}

@mixin actions {
  gap: 2rem;
  padding: 1rem;

  .actionBadge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -40%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    font-size: 1.1rem;
    background: color("redColor");
  }

  @include respond(phone) {
    gap: 1.5rem;
  }

  & svg {
    font-size: size("bigSize");

    @include respond(phone-small) {
      font-size: size("regullarSize");
    }
  }
}

@mixin avatarModal {
  width: 15rem;
  right: -2rem;
  top: 5.3rem;
  padding: 0.5rem;
  color: $txt-dark;
  background: $bg-light;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 0.35rem;
}
