@use '../../../../styles/helpers/helpers' as *;

.content {
  flex: 4;
  max-width: 65%;
  @include flexBox(column);
  gap: 5rem;
  margin: 4rem 0;

  @include respond(phone) {
    flex: 1;
    align-self: center;
    max-width: 80%;
    gap: 3rem;
  }

  @include respond(phone-small) {
    max-width: 100%;
    margin: 2rem 0;
  }

  .createPostEl {
    width: 90%;
  }

  .profileFeedPost {
    width: 90%;
  }

  @include respond(tab-landscape) {
    .createPostEl,
    .profileFeedPost {
      width: 100%;
    }
  }
}
