@use '../../../styles/helpers/helpers' as *;

.feedSideBarLeft {
  background: grey;
  flex-basis: 30rem;
  position: sticky;
  top: 8rem;
  padding-top: 2rem;
  text-align: center;
  color: #fff;

  @include respond(tab-portrate) {
    display: none;
  }
}
