@use '../../../styles/helpers/abstract/media' as *;

.feedSideBarRight {
  flex-basis: 25rem;
  position: sticky;
  top: 6rem;
  height: calc(100vh - 6rem);
  background: darkslategray;
  color: #fff;
  text-align: center;
  padding-top: 2rem;

  @include respond(tab-portrate) {
    display: none;
  }
}
