@use "../../../styles/helpers/abstract/media" as *;

.feedSideBarRight {
  width: min(25rem, 100%);
  position: sticky;
  top: 6rem;
  height: calc(100vh - 6rem);
  background: darkslategray;
  color: #fff;
  text-align: center;
  padding-top: 2rem;

  @include media-1280 {
    width: min(20rem, 100%);
  }

  @include media-960 {
    display: none;
  }
}
