@use '../../../styles//helpers/helpers' as *;

.tagsList {
  @include flexBox;
  @include flexProperty(flex-start, center);
  font-size: size(smallSize);
  color: color(darkGreyColor);
  line-height: 1;

  & a {
    display: inline-block;
    font-weight: weight(mediumWeight);
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;
    }
  }

  & strong {
    font-weight: weight(mediumWeight);
    text-decoration: underline;
    cursor: pointer;
  }
}
