@use '../../../styles//helpers/helpers' as *;

.tagsList {
  font-size: inherit;
  color: inherit;

  & a {
    display: inline-block;
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;
    }
  }

  & strong {
    font-weight: inherit;
    text-decoration: underline;
    cursor: pointer;
  }

  .tagKeyWord {
    font-weight: weight(regullarWeight);
  }
}
