@use "../../../styles/helpers/abstract/functions" as *;

.modalContent {
  .modalCloseBtn {
    position: absolute;
    z-index: 999;
    top: 1rem;
    right: 1rem;
    font-size: size("largeSize");
  }

  .modalCloseBtn svg {
    color: color("whiteColor");
  }
}
