@use '../../../styles/helpers/helpers' as *;

.bookmarks {
  position: relative;
  max-width: $container-width;
  margin: 0 auto;
  margin-top: 4rem;
  @include flexBox(column);
  gap: 4rem;
  padding: 0 4rem;
}
