@use "../../../styles//helpers/abstract/functions" as *;
@use "../../../styles//helpers/abstract/mixins" as *;

.inputField {
  @include flexBox(column);
  gap: 0.5rem;
  width: max-content;

  .inpLabel {
    font-weight: weight("mediumWeight");
    font-size: size("smallSize");
    text-transform: capitalize;
    cursor: pointer;
  }

  .inp {
    display: inline-block;
    width: 100%;
    outline: none;
    border: 1px solid color("darkGreyColor");
    border-radius: 0.3rem;
    height: 3rem;
    color: color("blackColor");
    padding: 0 1rem;
    font-size: size("smallSize");
    
    &::placeholder {
      text-transform: capitalize;
      font-size: size("smallerSize");
      opacity: 0.5;
    }
  }
}
