@use "../../../styles//helpers/abstract/functions" as *;
@use "../../../styles//helpers/abstract/mixins" as *;
@use "../../../styles//helpers/components/layouts/inp" as *;

.inputField {
  @include flexBox(column);
  gap: 0.5rem;
  width: max-content;

  .inpLabel {
    @include label;
  }

  .inpBox {
    @include flexBox;
    border: 1px solid color("darkGreyColor");
    border-radius: 0.3rem;
    overflow: hidden;
    background: color("whiteColor");

    &.error {
      border: 1px solid color("redColor");
    }
  }

  .iconBox {
    width: 2rem;
    @include flexBox;
    @include flexProperty(center, center);
    cursor: pointer;
    border: none;
    background: inherit;
  }

  .inp {
    display: inline-block;
    width: 100%;
    outline: none;
    height: 3rem;
    color: color("blackColor");
    padding: 0 1rem;
    font-size: size("smallSize");
    border: none;

    &::placeholder {
      text-transform: capitalize;
      font-size: size("smallerSize");
      opacity: 0.5;
    }
  }

  .errorMessage {
    @include errMsg;
  }
}
