@use "../../../../styles/helpers/components/user-cover" as *;
@use "../../../../styles/helpers/abstract/mixins" as *;

.cover {
  grid-area: 1 / 1 / 4 / -1;
  position: relative;
  @include coverImage;

  .coverImg {
    width: 100%;
    height: 100%;
    aspect-ratio: 2/1;

    & img {
      @include fitImage;
      border-radius: inherit;
    }
  }
}
