@use '../../../../styles/helpers/helpers' as *;

.friendShipBTNBox {
  grid-row: 4;
  grid-column: 3;
  justify-self: end;
  @include flexBox;
  @include flexProperty(flex-start, center);
  padding-top: 2rem;
}
