@use "../../../../styles/helpers/components/user-cover" as *;
@use "../../../../styles/helpers/abstract/mixins" as *;
@use "../../../../styles/helpers/abstract/media" as *;

.friendShipBTNBox {
  grid-row: 4;
  grid-column: 3;
  justify-self: end;
  @include flexBox;
  @include flexProperty(flex-end, center);
  flex-wrap: wrap;
  @include friendShip;

  @include media-1280 {
    grid-column: 2;
  }

  @include media-960 {
    grid-row: 5;
    justify-self: start;
    justify-content: flex-start;
  }

  @include media-680 {
    grid-column: 1/-1;
    grid-row: 6;
    justify-self: center;
    justify-content: center;
  }
}
