@use "../../../../styles/helpers/components/user-cover" as *;
@use "../../../../styles/helpers/abstract/mixins" as *;
@use "../../../../styles/helpers/abstract/media" as *;

.nav {
  grid-area: 6 / 2 / -1 / 4;
  @include profileNavigation;

  @include media-1280 {
    grid-area: 6 / 1 / -1 / -1;
  }

  @include media-680 {
    grid-area: 7 / 1 / -1 / -1;
  }

  .navList {
    height: 100%;
    @include flexBox;
    @include flexProperty(flex-start, center);
  }
}
