@use "../../../../styles/helpers/components/user-cover" as *;
@use "../../../../styles/helpers/abstract/media" as *;

.profile {
  grid-area: 3 / 2 / 5 / 3;
  justify-self: start;
  align-self: center;
  position: relative;
  @include profileImage;

  @include media-1280 {
    grid-area: 3 / 1 / 5 / 2;
  }

  @include media-680 {
    grid-area: 2 / 2 / 5 / 2;
    justify-self: center;
  }
}
