@use "../../../../styles/helpers/components/user-cover" as *;
@use "../../../../styles/helpers/abstract/mixins" as *;
@use "../../../../styles/helpers/abstract/media" as *;

.updateUserCoverBtn {
  grid-row: 4;
  grid-column: 3;
  justify-self: end;
  align-self: end;
  @include flexBox;

  @include media-1280 {
    grid-column: 2;
  }

  @include media-680 {
    grid-row: 6;
    justify-self: center;
    align-self: center;
  }
}
