@use "../../../../styles/helpers/components/user-cover" as *;
@use "../../../../styles/helpers/abstract/media" as *;

.landscape {
  position: relative;
  width: 100%;
  @include userCoverContainer;
}

.content {
  max-height: 100%;
  display: grid;
  grid-template: 60% repeat(5, 8%) / 1fr 16rem calc($container-width - 16rem) 1fr;
  @include userCoverContent;

  @include media-1280 {
    // grid-template: 60% repeat(5, 8%) / 16rem 1fr;
    grid-template: 50% repeat(5, 10%) / 16rem 1fr;
  }

  @include media-680 {
    grid-template: 40% repeat(6, 10%) 1fr / 1fr 15rem 1fr;
  }
}
