@use '../../../../styles/helpers/helpers' as *;

.userNameAndEmail {
  padding: 0 3rem 3rem 1rem;
  grid-area: 4 / 3 / 5 / 4;
  width: 40%;

  @include respond(tab-landscape) {
    grid-area: 4 / 2 / 5 / -1;
    margin-left: 3rem;
  }

  @include respond(tab-portrate) {
    width: 100%;
  }
  
  @include respond(phone) {
    grid-row: 5;
    grid-column: 2;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .userName {
    font-size: size('bigSize');
    text-transform: capitalize;
    color: color('blackColor');
    font-weight: weight('boldWeight');
  }

  @include respond(phone) {
    .userName {
      font-size: size('regullarSize');
    }
  }
}
