@use "../../../../styles/helpers/abstract/media" as *;
@use "../../../../styles/helpers/components/user-cover" as *;

.userNameAndEmail {
  padding: 0 3rem 3rem 1rem;
  grid-area: 4 / 3 / 5 / 4;
  @include userNameAndEmail;

  @include media-1280 {
    grid-area: 4 / 2 / 5 / -1;
  }

  @include media-680 {
    grid-row: 5;
    grid-column: 2;
  }
}
