@use '../../../../../styles/helpers/helpers' as *;

.postActions {
  @include flexBox;
  gap: 1rem;
  border-top: 1px solid color('blackColor');
  padding: 1rem 0.5rem 0;

  & button a,
  & button {
    @include flexBox;
    @include flexProperty(flex-start, center);
    gap: 0.4rem;
  }

  & button span {
    font-size: size('smallSize');
  }

  & button svg {
    font-size: size('bigSize');
  }

  & button:nth-child(3) {
    margin-left: auto;
  }
}
