@use '../../../../../styles/helpers/helpers' as *;

.reactionBtn {
  position: relative;

  .reactionsAmount:hover ~ .likesList {
    display: block;
  }

  .reactionsAmount:hover ~ .dislikesList {
    display: block;
  }

  .reactionsList {
    display: none;
    position: absolute;
    top: -4rem;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: color(whiteColor);
    @include boxShadowBlack(0, 1rem, 0.25);
  }
}
