@use '../../../styles//helpers/helpers' as *;

.optionsModal {
  position: absolute;
  z-index: 99;
  background: color('whiteColor');
  @include boxShadowBlack(0.25rem, 0.5rem, 0.25);
  @include flexBox(column);
  @include flexProperty(flex-start, flex-start);
  gap: 0.5rem;
  padding: 1rem;
  font-size: size('regullarSize');
  text-transform: capitalize;

  .optBtn {
    @include flexBox;
    @include flexProperty(flex-start, center);
    gap: 0.5rem;
    transition: all 0.2s ease-out;
    width: 100%;
    padding-right: 6rem;
    color: color('darkLightGreyColor');

    &:hover {
      color: color('blackColor');
    }

    &:last-child:hover {
      color: color('redColor');
    }
  }

  & svg {
    font-size: size('bigSize');
  }

  & span {
    align-self: flex-end;
    margin-top: 0.25rem;
  }

  .bookmark svg {
    font-size: size('regullarSize');
  }
}

.optBig {
  right: 1rem;
  top: 3rem;
  animation: moveTop 0.2s;
}

.openOptBtn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  @include flexBox;
  @include flexProperty(center, center);
  font-size: size('largeSize');
}

.confirmationPopUp {
  position: absolute;
  left: 25%;
  z-index: 99;
  max-width: 50rem;
  min-width: 30rem;
  text-align: center;
  background: color('whiteColor');
  @include boxShadowBlack(0, 0.5rem, 0.3);
  padding: 3rem;

  .message {
    margin-bottom: 1rem;
    text-transform: none;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .btnCancel {
    background: color('whiteShadeColor');
    color: color('darkGreyColor');
    margin-right: 1rem;
  }

  .btnDelete {
    background: color('redColor');
  }
}
