@use '../../../../../styles/helpers/helpers' as *;

.blogPostOptions {
  align-self: flex-end;
  position: relative;
  
  .blogPostOptBtn {
    font-size: size(bigSize);
  }

  .blogPostOptionsList {
    position: absolute;
    right: 0;
    top: 2rem;
    background: color(whiteColor);
    @include boxShadowBlack(0, 1rem, 0.3);
    width: 13rem;
    padding: 0.5rem;
    @include flexBox(column);
    @include flexProperty(center, flex-start);
    gap: 0.5rem;
    text-transform: capitalize;
    font-size: size(regullarSize);
    animation: moveTop 0.15s;

    button {
      @include flexBox;
      @include flexProperty(flex-start, center);
      gap: 0.25rem;

      & svg {
        font-size: size(bigSize);
      }
    }
  }
}
