@use "../../../../../styles/helpers/components/blog-post" as *;

.blogPost {
  position: relative;
  @include blogPostContainer;

  .blogPostMedia {
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }

  .blogPostInfo {
    flex: 5;
  }

  .blogPostShortDesc {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  .devideRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
