@use "../../../../../styles/helpers/components/blog-post" as *;
@use "../../../../../styles/helpers/components/layouts/modalWindowSm" as *;

.blogPostOptionsList {
  position: absolute;
  right: $blog-post-options-list-right;
  top: $blog-post-options-list-top;
  width: $blog-post-options-list-w;
  min-height: $blog-post-options-list-min-h;

  @include modalWindowSm;
}
