@use '../../../../../styles/helpers/helpers' as *;

.blogPost {
  position: relative;
  border: 1px solid color('darkLightGreyColor');
  background: color('whiteColor');

  .blogPostMedia {
    width: 100%;
    aspect-ratio: 3/1;
    margin: 0 1rem 0 0;
    overflow: hidden;

    & img {
      @include fitImage;
    }
  }

  .blogPostInfo {
    flex: 5;
    padding: 1rem;
  }

  .blogPostShortDesc {
    margin-top: 1rem;
    font-size: size('smallSize');
    @include hyphens;
    color: color('darkGreyColor');
  }

  .showMoreBtn {
    display: inline;
    background: color('whiteShadeColor');
    padding: 0 0.5rem;
    border-radius: 1rem;
    font-weight: weight('mediumWeight');
    font-size: inherit;
    margin-left: 0.25rem;
  }

  .devideRow {
    @include flexBox;
    @include flexProperty(space-between, flex-start);
    flex-wrap: wrap;
  }
}
