@use "../../../../../styles/helpers/components/blog-post" as *;

.blogPostOptions {
  align-self: flex-end;
  position: relative;
  z-index: $blog-post-options-z;

  .blogPostOptBtn {
    font-size: $blog-post-options-btn-fs;
  }
}
