@use "../../../../../styles/helpers/components/blog-post" as *;

%flex-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.blogPostUserInteractionsBox {
  @extend %flex-row;
  @include blogPostUserInteractionReview;

  .blogPostInteractions {
    @extend %flex-row;

    span {
      @extend %flex-row;
    }
  }
}
