@use '../../../styles/helpers/helpers' as *;

.userIdentifierRe {
  @include flexBox;
  gap: 1rem;
  color: color('darkGreyColor');
  font-weight: weight('boldWeight');
  font-size: size('smallSize');

  .identifierDetails {
    @include flexBox(column);
  }

  .identifierDetails,
  div[data-tags] {
    padding-top: 0.25rem;
  }

  div[data-tags] {
    margin-left: -0.5rem;
  }

  .identifierUserName {
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;
    }
  }

  .dateTimeAgo {
    font-size: size('smallerSize');
    font-weight: weight('thinWeight');
    color: color('darkLightGreyColor');
  }
}
