@use "../../../styles/helpers/components/layouts/userIdentifier" as *;

.userIdentifierRe {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1rem;
  @include userIdentifier;

  & [data-img] {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .identifierUserName {
    text-transform: capitalize;
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;

    &:hover {
      text-decoration: underline;
    }
  }

  .childBox {
    grid-column: 3;
    grid-row: 1;
  }
}
