@use '../../../../../styles/helpers/helpers' as *;

.updateFormMain {
  animation: moveInRight 0.25s ease forwards;
  @include flexBox(column);
  gap: 1rem;

  .formTitleUpdate {
    text-transform: capitalize;
    font-weight: weight(mediumWeight);
    font-size: size(largeSize);
  }

  .secondaryBtnUpdate {
    background: color('whiteShadeColor');
    color: color('darkGreyColor');
    margin-right: 1rem;
  }

  .primaryBtnUpdate {
    @include boxShadowBlack(0, 0.5rem, 0.4);
  }

  %inpField {
    & {
      width: 25rem;
      border: 1.5px solid grey;
      border-radius: 0.5rem;
      font-size: size('smallerSize');
      color: color('darkGreyColor');

      &::placeholder {
        text-transform: capitalize;
        font-style: italic;
      }
    }
  }

  .descriptionText,
  .inpUpdate,
  .selectCountryUpdate {
    @extend %inpField;
  }

  .descriptionText{
    min-height: 3rem;
  }

  .btnBox {
    margin-top: 2rem;
  }

  .rowBox {
    @include flexBox;
    @include flexProperty(flex-start, center);
    gap: 1rem;
  }

  .columnBox {
    @include flexBox(column);
    @include flexProperty(flex-start, flex-start);
    gap: 1rem;

    &:not(:last-child) {
      @include flexBox(column);
      @include flexProperty(flex-start, flex-start);
    }

    // &:last-child {
    //   transform: translateY(5%);
    //   @include flexBox;
    //   @include flexProperty(flex-start, center);
    //   gap: 0.5rem;
    // }

    .picker {
      & label:first-of-type {
        padding-left: 0;
      }
    }

    & > label:first-of-type {
      font-size: size('smallerSize');
      text-transform: capitalize;
      margin-bottom: -0.4rem;
    }
  }
}
