@use '../../../../../styles/helpers/helpers' as *;

.updateInfo {
  width: 50rem;
  max-height: calc(100vh - 6rem - 2rem);

  .updateCover {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;

    & img {
      @include fitImage;
    }
  }

  .updateCover.animateCloseCover {
    animation: slideUpAllCover 0.4s ease forwards;
    pointer-events: none;
  }

  .updateCover.animateSetCover {
    pointer-events: all;
    animation: slideDownAllCover 0.4s ease forwards;
  }

  .update {
    width: 100%;
    height: 100%;
    padding: 2rem;
  }

  .update.animateActiveUpdate {
    animation: slideUpAllUpdate 0.4s ease forwards;
    pointer-events: all;
  }

  .update.animateCloseUpdate {
    pointer-events: none;
    animation: slideDownAllUpdate 0.4s ease forwards;
  }
}

@keyframes slideUpAllCover {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes slideDownAllCover {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpAllUpdate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideDownAllUpdate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
