@use '../../../../../styles/helpers/helpers' as *;

.comment {
  width: max-content;
  max-width: 85%;

  .commentHeader {
    @include flexBox;
    @include flexProperty(flex-start, center);
    gap: 1rem;
  }

  .pinIcon {
    color: color('blueColor');
    margin-left: auto;
  }

  @include respond(tab-portrate) {
    width: auto;
    max-width: 95%;

    .postUserIdentifier figure[data-img] {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}
