@use '../../../../../styles/helpers/helpers' as *;

.comment {
  width: max-content;
  max-width: 85%;
  position: relative;
  padding-right: 2rem;

  .commentHeader {
    @include flexBox;
    @include flexProperty(flex-start, center);
    gap: 1rem;
  }

  .commentUserIdentifier figure[data-img] {
    width: 3.5rem;
    height: 3.5rem;
  }

  .pinIcon {
    color: color('blueColor');
    margin-right: -2rem;
  }

  @include respond(tab-portrate) {
    width: auto;
    max-width: 95%;
  }
}
