@use '../../../../../styles/helpers/helpers' as *;

.nestedList {
  width: calc(100% - 4rem);
  margin-left: 4rem;

  @include respond(tab-portrate) {
    margin-top: 0;
    margin-left: 2.5rem;
  }

  .commentRepliesTextArea {
    width: calc(100% - 4rem);

    @include respond(tab-portrate) {
      width: 100%;
    }
  }
}
