@use '../../../../styles/helpers/helpers' as *;

.postsPageContent {
  flex: 4;
  margin: 4rem 0 1rem;

  @include respond(phone) {
    width: 100%;
  }

  .postsPageContentScroll {
    @include flexBox(column);
    gap: 5rem;

    @include respond(phone-small) {
      gap: 3rem;
      margin-top: 3rem;
    }
  }

  @include respond(phone) {
    flex: 1;
    align-self: center;
    max-width: 80%;
    gap: 3rem;
  }

  @include respond(phone-small) {
    max-width: 100%;
    margin: 2rem 0;
  }
}
