@use '../../../../styles/helpers/helpers' as *;

.postsPageContainer {
  max-width: $container-width;
  margin: 0 auto;
  @include flexBox;
  gap: 2rem;
  justify-content: space-between;

  @include respond(tab-landscape) {
    gap: 3rem;
    padding: 0 3rem;
  }

  @include respond(phone) {
    flex-direction: column;
  }

  @include respond(phone-small) {
    padding: 0 1rem;
    gap: 1rem;
  }
}
