.authForm {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 0 auto;
  margin-top: 20rem;
  gap: 2rem;

  input {
    height: 4rem;
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
  }

  button {
    border-radius: 0.5rem;
    background: royalblue;
    color: white;
    padding: 1.5rem 2rem;
  }
}
