@use '../../../../styles/helpers/helpers' as *;

.blogPostUserInteractions {
  @include flexBox;
  @include flexProperty(flex-start, center);
  gap: 1rem;
  font-size: size('smallSize');
  padding-right: 2.8rem;

  .blogPostPostActions{
    border: none;
    padding: 0;
  }
}
