@use "../../../../styles/helpers/components/messanger" as *;

.chatMessageGroupBox {
  display: flex;
  flex-direction: column;
  @include msgGroup;

  .messageText {
    display: inline-block;
    @include msgGroupItem;
  }
}
