@use "../../../../styles/helpers/components/messanger" as *;

.messangerFeedContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  
  position: relative;
  height: 100%;
  @include messangerFeedContainer;

  [data-text-area-form-box] {
    margin-top: auto;
  }
}
