@use "../../../../styles/helpers/components/messanger" as *;

.feedHeadingBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include messangerFeedHeader;

  .feedAuthor {
    text-transform: capitalize;
  }
}
