@use "../../../../styles/helpers/components/messanger" as *;
@use "../../../../styles/helpers/abstract/mixins" as *;

.messangerFeedContainer {
  flex: 3;
  @include flexBox(column);

  position: relative;
  height: 100%;
  @include messangerFeedContainer;

  [data-text-area-form-box] {
    margin-top: auto;
  }
}
