@use "../../../../styles/helpers/abstract/components" as *;
@use "../../../../styles/helpers/components/messanger" as *;

.sideBar {
  flex: 1;
  @include sideBarContainer;

  .contentBox {
    display: flex;
    flex-direction: column;

    @include scrollBar("&");
  }
}
