@use '../../../../../styles/helpers/helpers' as *;

.activeBlogPostBox {
  position: relative;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 32rem 1fr 32rem;
  grid-template-rows: repeat(4, max-content);
  row-gap: 3rem;
  background: color(whiteColor);

  @include respond(tab-landscape) {
    @include flexBox(column);
  }
}
