@use '../../../../../styles/helpers/helpers' as *;

.postIntro {
  grid-column: 2;
  grid-row: 2;
  padding: 0 2rem;
  color: color('darkGreyColor');

  @include respond(tab-landscape) {
    order: 2;
  }

  .articleHead {
    position: relative;
  }

  .article {
    grid-column: 1;
    grid-row: 3;
    margin-top: 2rem;
  }
}
