@use "../../../../../styles/helpers/components/active-blog-post" as *;
@use "../../../../../styles/helpers/abstract/media" as *;

.postIntro {
  grid-column: 2;
  grid-row: 2;
  @include blogPostArticle;

  @include media-1280 {
    order: 2;
  }

  .articleHead {
    position: relative;
  }

  .article {
    grid-column: 1;
    grid-row: 3;
  }
}
