@use '../../../../../styles/helpers/helpers' as *;

.postIntro {
  grid-column: 1;
  grid-row: 2;
  margin-top: 4rem;
  color: color('darkGreyColor');

  .articleHead {
    position: relative;
  }

  .postTitle {
    font-size: size('largeSize');
    text-transform: capitalize;
  }
}

.article {
  grid-column: 1;
  grid-row: 3;
  margin-top: 2rem;
}
