@use "../../../../../styles/helpers/components/active-blog-post" as *;
@use "../../../../../styles/helpers/abstract/media" as *;

.actionsBox {
  grid-column: 2;
  grid-row: 4;
  @include blogPostActionsBox;

  @include media-1280 {
    order: 5;
  }
}
