@use '../../../../../styles/helpers/helpers' as *;

.blogPostsRelated {
  grid-column: 1;
  grid-row: 4;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;

  .relatedBlogPost {
    @include flexBox(column);

    [data-blog-post-identifier] {
      gap: 0.75rem;
    }

    [data-title] {
      font-size: size(regullarSize);
    }

    & > [data-img] {
      width: 100%;
      aspect-ratio: 2/1;
      border-radius: 0;
      margin: 0;
      display: none;
    }

    [data-categories-list] {
      justify-content: center;
      font-size: size(smallestSize);
    }

    [data-user-interacion] {
      font-size: size('smallerSize');

      & svg {
        font-size: size(regullarSize);
      }
    }
  }
}
