@use '../../../../../styles/helpers/helpers' as *;

.blogPostsRelated {
  grid-column: 2;
  grid-row: 3;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;

  @include respond(tab-landscape) {
    order: 3;
  }

  .relatedBlogPost {
    @include flexBox(column);

    [data-blog-post-identifier] {
      gap: 0.75rem;
    }

    [data-title] {
      font-size: size(regullarSize);
    }

    & > [data-img] {
      width: 100%;
      aspect-ratio: 2/1;
      border-radius: 0;
      margin: 0;
      display: none;
    }

    [data-categories-list] {
      justify-content: center;
      font-size: size(smallestSize);
    }

    [data-user-interacion] {
      font-size: size('smallerSize');

      & svg {
        font-size: size(regullarSize);
      }
    }
  }
}
