@use "../../../../../styles/helpers/components/active-blog-post" as *;
@use "../../../../../styles/helpers/abstract/mixins" as *;
@use "../../../../../styles/helpers/abstract/media" as *;

.blogPostsRelated {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include relatedPostsContainer;

  @include media-1280 {
    order: 3;
  }

  .relatedBlogPost {
    @include flexBox(column);

    & > [data-img] {
      width: 100%;
      aspect-ratio: 2/1;
      border-radius: 0;
      margin: 0;
      display: none;
    }

    [data-categories-list] {
      justify-content: center;
    }
  }
}
