@use '../../../../../styles/helpers/helpers' as *;

.blogPage {
  display: grid;
  grid-template: 30vw 6rem 24rem 1fr / 1fr 40rem;
  color: color('darkGreyColor');
  position: relative;
  margin-top: 6rem;

  @include respond(tab-portrate) {
    @include flexBox(column);
    align-items: center;
  }

  .blogPageCreateBlogPostTouch {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    max-width: 80rem;
    justify-self: center;
    margin-top: 4rem;

    @include respond(tab-landscape) {
      padding: 0 2rem;
    }
  }

  .blogPostsScrollBox {
    @include flexBox(column);
    gap: 4rem;
  }
}
