@use '../../../../../styles/helpers/helpers' as *;

.blogPage {
  display: grid;
  grid-template: 30vw 6rem 24rem 1fr / 20rem 1fr 40rem;
  color: color('darkGreyColor');
  position: relative;
  margin-top: 6rem;

  @include respond(tab-landscape) {
    grid-template: 30vw 6rem 26rem 1fr / 20rem 1fr 36rem;
  }

  @include respond(tab-portrate) {
    display: flex;
    flex-direction: column;
  }

  .blogPageCreateBlogPostTouch {
    grid-column: 2;
    grid-row: 3;
    margin: 0 3rem;
    margin-top: 4rem;

    @include respond(tab-landscape) {
      margin: 4rem 1rem 2rem 1rem;
    }

    @include respond(tab-portrate) {
      margin-left: 10rem;
    }
  }

  .blogPostsScrollBox {
    grid-row: 4;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 4rem 3rem 2rem 3rem;

    @include respond(tab-landscape) {
      margin: 4rem 1rem 2rem 1rem;
    }

    @include respond(tab-portrate) {
      margin-left: 10rem;
    }
  }

  .leftBar {
    grid-column: 1/2;
    grid-row: 1/-1;

    @include respond(tab-portrate) {
      position: fixed;
      z-index: 1;
    }
  }
}
