@use '../../../../../styles/helpers/helpers' as *;

.blogPage {
  display: grid;
  grid-template: 30vw 6rem 1fr / 20rem 1fr 25%;
  color: color('darkGreyColor');
  position: relative;
  margin-top: 6rem;

  .content {
    grid-row: 3;
    grid-column: 2/3;
    padding: 4rem 3rem;
    @include flexBox(column);
    gap: 4rem;
  }

  .createBlogPost {
    width: 100%;
  }

  .leftBar {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
}
