@use '../../../../../styles/helpers/helpers' as *;

.categories {
  height: 100%;
  grid-row: 2;
  grid-column: 2/4;
  background: color('whiteColor');
  @include boxShadowBlack(0.5rem, 1rem, 0.2);

  @include respond(tab-portrate) {
    margin-left: 7rem;
    z-index: -1;
    height: 5rem;
    margin-top: -0.5rem;
  }

  .slider {
    height: 100%;
    margin: 0 3rem;
    padding: 0 7rem;
    display: flex;

    @include respond(phone) {
      padding: 0 1rem;
      margin: 0rem;
    }
  }

  .listItem {
    display: block;
    border-left: 1px solid color('darkGreyColor');
    text-align: center;
    text-transform: uppercase;
    font-weight: weight('mediumWeight');
    transition: all 0.2s;

    &.active {
      color: color('blueColor');
      text-decoration: underline;
    }
  }

  .activeCategory {
    color: color(blueColor);
  }
}
