@use "../../../../../styles/helpers/components/blog-page" as *;
@use "../../../../../styles/helpers/abstract/media" as *;
@use "../../../../../styles/helpers/abstract/mixins" as *;

.stand {
  grid-row: 1;
  grid-column: 1/3;
  @include blogPageStand;

  @include media-960 {
    align-self: stretch;
  }

  .standCarousel,
  .slider,
  .slide {
    height: 100%;
  }

  .slide {
    width: 100%;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(9, 1fr);
  }

  .sliderBg {
    grid-row: 1/-1;
    grid-column: 1/-1;
    width: 100%;
    aspect-ratio: 2/1;

    & img {
      @include fitImage;
    }
  }

  .firstStand {
    grid-column: 5/-1;
    grid-row: 2/-1;

    @include media-960 {
      grid-row: 1/-1;
      grid-column: 3/-1;
    }
  }

  .secondStand,
  .thirdStand {
    grid-row: 2/-1;
    grid-column: 2/-1;
    position: relative;
  }
}
