@use "../../../../styles/helpers/abstract/functions" as *;
@use "../../../../styles/helpers/abstract/animation" as *;
@use "../../../../styles/helpers/components/layouts/modalWindowSm" as *;

.postOptionsModal {
  position: absolute;
  z-index: 99;
  right: 1rem;
  top: 3rem;
  min-height: 6rem;
  min-width: 20rem;
  @include modalWindowSm;

  .postOptBtnDelete:hover {
    color: color("redColor");
  }

  & span {
    align-self: flex-end;
    margin-top: 0.25rem;
  }

  .bookmark svg {
    font-size: size("regullarSize");
  }

  .audienceBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .audienceMainBtn {
      .arrowIndicator {
        margin-left: auto;
        transition: all 0.2s;
      }

      .arrowIndicatorActive {
        transform: rotate(180deg);
      }
    }

    .audienceOptionsList {
      width: 85%;
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: $modal-list-gap;
      @include moveBottom(0.2s);
    }
  }
}
