@use '../../../styles/helpers/helpers' as *;

.reviewUserDetails {
  @include flexBox(column);
  gap: 1rem;
  width: 100%;
  color: color('darkGreyColor');

  .blogPostTitle {
    text-transform: capitalize;
    width: max-content;
    max-width: 90%;

    & h3 {
      width: max(40%, 100%);
      font-size: size('largeSize');
      font-weight: weight('boldWeight');
    }
  }

  .publisher {
    @include flexBox;
    @include flexProperty(flex-start, center);
    gap: 0.25rem;

    .blogPostUserName {
      font-weight: weight(mediumWeight);
      font-size: size(smallerSize);
      text-transform: capitalize;

      &:hover {
        text-decoration: underline;
      }
    }

    [data-img] {
      max-width: 2rem;
      max-height: 2rem;
      border-radius: 50%;
      overflow: hidden !important;
    }

    [data-tags] {
      font-size: size(smallerSize);
    }
  }

  .blogPostCategories {
    @include flexBox;
    @include flexProperty(flex-start, center);
    gap: 0.5rem;
    flex-wrap: wrap;
    font-size: size(smallSize);

    span {
      background: color(blueTintColor);
      padding: 0 0.5rem;
      border-radius: 1rem;
    }
  }

  .blogPostTimeAgoBox {
    @include flexBox;
    @include flexProperty(flex-start, center);
    gap: 0.5rem;
    font-size: inherit;

    & svg {
      margin-top: -0.2rem;
    }
  }
}
