@use "../../../styles/helpers/components/blog-post" as *;

.reviewDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include blogPostReviewDetails;

  .blogPostTitle {
    text-transform: capitalize;
    width: max-content;
    max-width: 90%;

    & h3 {
      width: max(40%, 100%);
    }
  }

  .publisher {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .blogPostUserName {
      text-transform: capitalize;

      &:hover {
        text-decoration: underline;
      }
    }

    [data-img] {
      border-radius: 50%;
      overflow: hidden !important;
    }
  }

  .blogPostCategories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}
