@use '../../../../styles/helpers/helpers' as *;

.reviewContainer {
  margin-top: 4rem;
  min-height: 20rem;
  @include flexBox(column);
  gap: 4rem;

  .message {
    color: color(darkLightGreyColor);
    text-align: center;
    text-transform: capitalize;
    font-weight: weight(boldWeight);
  }
}
