@use '../../../../styles/helpers/helpers' as *;

.postWrapper {
  width: max-content;
  margin: 0 auto;

  .reviewBtnBox {
    margin-top: 1rem;
    @include flexBox;
    @include flexProperty(flex-end, center);
    gap: 2rem;
  }

  .removeTagBtn {
    // background: color(redColor);
    background: none;
    color: color(darkGreyColor);
    box-shadow: none;
  }

  .hideBtn {
    background: color(whiteShaderColor);
    color: color(darkGreyColor);
  }

  .addBtn {
  }
}
