@use "../../../../styles/helpers/components/layouts/postActions" as *;

.postActions {
  display: flex;
  @include postActions;

  & button a,
  & button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
